Source: media-cleaner
Section: python
Priority: optional
Maintainer: Johan Wermensjö, <johanwermensjoe@gmail.com>
Build-Depends: debhelper (>= 9),
               debconf,
               po-debconf,
               python (>= 2.7)
Standards-Version: 3.9.5
X-Python-Version: >= 2.7

Package: media-cleaner
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python (>= 2.7),
         python-rarfile (>= 2.7),
         python-pyyaml (>= 3.11),
         logrotate,
         deluged (>= 1.3.6)
Description: python script to clean and sort media files
 The script will clean up and format the names of movies and
 tv-series files into predetermined formats and folder structure. 
 The script accepts most name formats and will separate extra 
 material and soundtracks.
