Source: media-cleaner
Section: python
Priority: optional
Maintainer: Johan Wermensjö, <johanwermensjoe@gmail.com>
Build-Depends: debhelper (>= 9),
               debconf,
               po-debconf,
               python (>= 2.7)
Standards-Version: 3.9.5
X-Python-Version: >= 2.7

Package: media-cleaner
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python (>= 2.7),
         logrotate,
         media-cleaner-rarfile (= ${source:Version})
Description: python script to clean and sort media files
 The script will clean up and format the names of movies and
 tv-series files into predetermined formats and folder structure. 
 The script accepts most name formats and will separate extra 
 material and soundtracks.

Package: media-cleaner-rarfile
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python (>= 2.7),
         unrar
Description: RAR archive reader for Python
 This is Python module for RAR archive reading.
 The interface is made as zipfile like as possible.
 .
 Features:
    - Supports both RAR 2.x and 3.x archives.
    - Supports multi volume archives.
    - Supports Unicode filenames.
    - Supports password-protected archives.
    - Supports archive and file comments.
    - Archive parsing and non-compressed files are handled in pure Python code.
    - For compressed files runs ``unrar`` utility.
    - Works with both Python 2.x and 3.x.
